.uangleDoubleRightIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.uangleDoubleRightWrapper {
  border-radius: var(--br-481xl);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.uhomeAltIcon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton {
  box-shadow: var(--card);
  opacity: 0.4;
}
.iconButton,
.iconButton1 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.iconButtonParent {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameParent,
.iconButtonParent,
.menuMini {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameParent {
  justify-content: flex-start;
  gap: var(--gap-25xl);
}
.menuMini {
  align-self: stretch;
  background-color: var(--dark);
  padding: var(--padding-lg) var(--padding-xs);
  justify-content: space-between;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 954px;
}
.image1Icon {
  position: relative;
  width: 148.15px;
  height: 36px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.qunLTi {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.ucreateDashboardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hmNay {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.hmNayWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.uangleRightIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.6;
}
.mennu,
.mennu3 {
  border-radius: var(--br-7xs);
  width: 192px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.mennu {
  background-color: var(--white);
  border: 1px solid var(--line);
}
.mennu3 {
  background-color: var(--primary-default);
  cursor: pointer;
  color: var(--white);
}
.mennuParent {
  align-self: stretch;
  gap: var(--gap-7xs);
  font-size: var(--bodytext-14-regular-size);
  color: var(--body-text);
}
.image1Parent,
.mennuParent,
.qunLTiKhonParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.qunLTiKhonParent {
  width: 192px;
  gap: var(--gap-5xs);
}
.image1Parent {
  position: absolute;
  top: 18px;
  left: 20px;
  gap: var(--gap-base);
}
.vectorParent {
  align-self: stretch;
  position: relative;
  width: 232px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu,
.unsplashhorhcnqsxnqIcon {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.menu {
  height: 794px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.unsplashhorhcnqsxnqIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.notification,
.notificationWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.notification {
  border-radius: 40.57px;
  background-color: var(--white);
  padding: var(--padding-7xs);
}
.notificationWrapper {
  position: absolute;
  height: 25.4%;
  width: 4.37%;
  top: 68.25%;
  right: 1.09%;
  bottom: 6.35%;
  left: 94.54%;
  border-radius: var(--br-381xl);
  background-color: var(--color-gray-300);
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.unsplashpuhxosappfaIcon {
  position: relative;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.unsplashpuhxosappfaWrapper {
  position: absolute;
  top: 0;
  left: -0.5px;
  border-radius: var(--br-481xl);
  border: 1px solid var(--color-gray-400);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.ucameraIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.ucameraWrapper {
  position: absolute;
  top: 43px;
  left: 47.5px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  position: relative;
  width: 77px;
  height: 72px;
}
.nguynHongNam {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.nhnVinIt {
  position: relative;
  font-size: var(--bodytext-14-regular-size);
  line-height: 20px;
  opacity: 0.8;
}
.frameGroup,
.nguynHongNamParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameGroup {
  position: absolute;
  bottom: 12px;
  left: 12px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.cover {
  position: absolute;
  top: 97px;
  left: 25px;
  width: 1099px;
  height: 189px;
}
.flow1Icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 48px;
  height: 48px;
}
.userpic {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 89.09px;
  background: linear-gradient(180deg, #6989fe, #3c64f4);
  border: 0.9px solid var(--white);
  box-sizing: border-box;
}
.label,
.state,
.userpic {
  position: absolute;
}
.state {
  height: calc(100% - 34.89px);
  width: calc(100% - 34.89px);
  top: 2.49px;
  right: 3.74px;
  bottom: 32.4px;
  left: 31.15px;
  border-radius: 50%;
  background: linear-gradient(180deg, #08b295, #0c977f);
  border: 1.9px solid var(--white);
  box-sizing: border-box;
}
.label {
  height: 53.57%;
  width: 57.14%;
  top: 24%;
  left: 20.42%;
  line-height: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avt,
.employees {
  position: relative;
}
.avt {
  width: 44px;
  height: 44px;
  display: none;
}
.employees {
  font-size: var(--caption-12-regular-size);
  line-height: 16px;
  color: var(--body-text);
}
.flow1Parent,
.overviewParent {
  display: flex;
  justify-content: flex-start;
}
.overviewParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--heading);
}
.flow1Parent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.userpic1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #6989fe, #3c64f4);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.label1,
.state1,
.userpic1 {
  position: absolute;
}
.state1 {
  height: calc(100% - 22.86px);
  width: calc(100% - 22.86px);
  top: 1.14px;
  right: 1.14px;
  bottom: 21.71px;
  left: 21.71px;
  border-radius: 50%;
  background: linear-gradient(180deg, #08b295, #0c977f);
  border: 1.7px solid var(--white);
  box-sizing: border-box;
  display: none;
}
.label1 {
  top: 25%;
  left: 21.43%;
  line-height: 16.51px;
  font-weight: 600;
}
.avt1,
.userpic2 {
  position: absolute;
  height: 100%;
  width: 28.87%;
  top: 0;
  right: 71.13%;
  bottom: 0;
  left: 0;
}
.userpic2 {
  width: 100%;
  right: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #fca549, #f39531);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.avt2 {
  width: 28.87%;
  right: 47.42%;
  left: 23.71%;
}
.avt2,
.avt3,
.ovalCopy3,
.userpic3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.userpic3 {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: 81.71px;
  background: linear-gradient(180deg, #7ad3ff, #4fbaf0);
  border: 2.3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
}
.avt3,
.ovalCopy3 {
  width: 28.87%;
  right: 23.71%;
  left: 47.42%;
}
.ovalCopy3 {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: relative;
  line-height: 16px;
}
.avt4,
.wrapper {
  position: absolute;
}
.wrapper {
  top: 1.78px;
  left: 1.78px;
  border-radius: 444.44px;
  background-color: var(--white);
  border: 0.9px solid var(--line);
  box-sizing: border-box;
  width: 28.44px;
  height: 28.44px;
  display: flex;
  flex-direction: column;
  padding: 8.88888931274414px;
  align-items: center;
  justify-content: center;
}
.avt4 {
  height: 100%;
  width: 28.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 71.13%;
  font-size: var(--caption-12-regular-size);
  color: var(--color-dimgray);
}
.member,
.search {
  position: relative;
}
.member {
  width: 110.86px;
  height: 32px;
  display: none;
}
.search {
  flex: 1;
  line-height: 20px;
}
.usearchParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.uangleDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.input {
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--line);
  box-sizing: border-box;
  width: 248px;
  height: 36px;
  padding: var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--bodytext-14-regular-size);
  color: var(--label);
}
.input,
.memberParent,
.ucommentDotsWrapper,
.uplusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.memberParent {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ucommentDotsWrapper,
.uplusWrapper {
  border-radius: var(--br-481xl);
  padding: var(--padding-5xs);
  justify-content: center;
}
.uplusWrapper {
  background-color: var(--primary-default);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.ucommentDotsWrapper {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  background-color: var(--color-whitesmoke-200);
  border: 1px solid var(--line);
}
.component2Child {
  position: absolute;
  height: 27.78%;
  width: 27.78%;
  top: -2.78%;
  right: 5.56%;
  bottom: 75%;
  left: 66.67%;
  border-radius: 50%;
  background-color: var(--color-red);
  border: 2px solid var(--white);
  box-sizing: border-box;
}
.component2 {
  position: relative;
  width: 36px;
  height: 36px;
}
.unsplashfgUd73uZmIcon {
  position: relative;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.unsplashfgUd73uZmWrapper {
  border-radius: var(--br-481xl);
  border: 1px solid var(--line);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1,
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent1 {
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: 11.43px;
}
.header {
  background-color: var(--white);
  width: 1148px;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  justify-content: space-between;
}
.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 14.95px;
}
.iMtKhu {
  position: relative;
  line-height: 28px;
  font-weight: 600;
  display: inline-block;
  width: 763px;
  flex-shrink: 0;
}
.ulockParent {
  width: 636px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.button,
.frameParent4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--primary-default);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-sm);
  justify-content: center;
  gap: var(--gap-9xs);
  opacity: 0;
  cursor: pointer;
  text-align: center;
  font-size: var(--bodytext-14-regular-size);
  color: var(--primary-default);
}
.frameParent4 {
  align-self: stretch;
  justify-content: space-between;
}
.frameItem {
  align-self: stretch;
  position: relative;
  background-color: var(--line);
  height: 1px;
}
.frameParent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--title-18-semibold-size);
}
.mtKhuC {
  color: var(--caption);
}
.label4 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.outlineClose,
.outlineSearch {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.outlineClose {
  width: 16px;
  height: 16px;
}
.input1,
.input2,
.input3 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-5xs);
}
.input2 {
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--line);
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  color: var(--body-text);
}
.input1,
.input3 {
  flex-direction: column;
}
.input1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.input3 {
  flex: 1;
}
.input3,
.input5,
.inputGroup,
.inputParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.input5 {
  width: 366.5px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.inputGroup,
.inputParent {
  gap: var(--gap-xl);
}
.inputGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.inputParent {
  width: 723px;
  color: var(--color-crimson);
}
.button1,
.frameParent2,
.inputParent {
  display: flex;
  flex-direction: column;
}
.button1 {
  border-radius: var(--br-7xs);
  background-color: var(--primary-default);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-sm);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}
.frameParent2 {
  position: absolute;
  top: 325px;
  left: 25px;
  width: 1083px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--bodytext-14-regular-size);
  color: var(--heading);
}
.coverParent {
  position: absolute;
  top: 0;
  left: 292px;
  width: 1148px;
  height: 794px;
  font-size: var(--title-18-semibold-size);
  color: var(--white);
}
.profileChangePasswordAc {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 794px;
  overflow: hidden;
  text-align: left;
  font-size: var(--headline-16-semibold-size);
  color: var(--heading);
  font-family: var(--title-18-semibold);
}
